@import "../variable.scss";

.carousel-container {
  display: block;

  .carousel-root {
    display: block;

    .carousel {
      display: block;
    }

    .carousel-slider {
      display: block;
      overflow: hidden;

      // .slider-wrapper {
      // }

      .animated {
        display: block;
        transition: all 0.4s ease-in-out;

        .ad {
          position: relative;
          width: 100%;
          .ad_ment {
            height: 150px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            gap: 12px;
            position: absolute;
            left: 10%;
            right: auto;
            bottom: 40%;
            text-align: left;
            padding-left: 2.5rem;
            padding-right: 2.5rem;

            .title {
              color: #fff;
              font-size: 24px;
              font-weight: bold;
            }
            .sub-title {
              color: #fff;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
.carousel-status {
  display: none;
}
.thumbs-wrapper {
  display: none;
}

@media screen and (min-width: 500px) and (max-width: 579px) {
  .slider-wrapper {
    height: 250px;
  }
  .control-arrow {
    display: none;
  }
  .control-dots {
    display: none;
  }
}
@media screen and (min-width: 580px) and (max-width: 767px) {
  .slider-wrapper {
    height: 380px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .slider-wrapper {
    height: 500px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1079px) {
  .slider-wrapper {
    height: 600px;
  }
}

@media screen and (min-width: 1080px) {
  .carousel-slider {
    display: block;
    overflow: hidden;
    height: 700px;
    .ad {
      height: 700px;
    }
  }
}
// @media screen and (min-width: 480px) and (max-width: 767px) {
//   // .carousel-root {
//   //   height: 300px;
//   // }
//   .carousel-slider {
//     display: block;
//     overflow: hidden;
//     height: 300px;
//   }
//   .ad_ment {
//     height: 50px;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     justify-content: space-evenly;
//     gap: 12px;
//     position: absolute;
//     left: 10%;
//     right: auto;
//     bottom: 45%;
//     text-align: left;
//     padding-left: 2.5rem;
//     padding-right: 2.5rem;

//     .title {
//       color: #fff;
//       font-size: 24px;
//       font-weight: bold;
//     }
//     .sub-title {
//       color: #fff;
//       font-size: 14px;
//       font-weight: 500;
//     }
//   }
//   .control-arrow {
//     display: none;
//   }
// }
