@import "../variable.scss";

.topHeader {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 64px;
  background: $main_color_l_01;
  box-shadow: $shadow;
  display: flex;
  justify-content: center;
}

.side {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  // z-index: 5;
}
.header {
  max-width: 1000px;
  width: 100vw;
  height: 64px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin: 0 auto;

  .header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-logo {
      margin: 0 12px;
      font-size: 15px;
      text-decoration: none;
      color: $font_color_l_01;
      font-weight: 900;
    }
    .header-item {
      margin: 0 12px;
      font-size: 15px;
      text-decoration: none;
      color: $font_color_l_01;
      font-weight: 900;
    }
  }
  .header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 12px;
    .header_icon {
      width: 22px;
      height: 22px;
      margin: 0 12px;
    }
    .header_input {
      width: 130px;
      height: 24px;
      font-size: 0.6rem;
      background-color: $main_color_l_op;
      border: 0;
    }
  }
  .side-bar {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .header-left {
      .header-item {
        display: none;
      }
    }

    .side-bar {
      display: block;
      cursor: pointer;
      .bar {
        width: 22px;
        height: 22px;
        margin: 0 6px;
        padding: 6px;
      }
    }
    .side-bar:hover {
      cursor: pointer;
      .bar {
        background-color: $main_color_l_op;
        width: 22px;
        height: 22px;
        margin: 0 6px;
        padding: 6px;
        border-radius: 15px;
      }
    }
  }
}
