@import "../variable.scss";

.main-item-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.categoryContainer {
  // height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 40px;
  // border: 1px solid red;

  label {
    font-size: 28px;
    font-weight: 700;
    // @include lightTheme($MainDark);
  }
  .itemContainer {
    flex-wrap: wrap;
    width: 1000px;
    height: 350px;
    display: flex;
    gap: 15px;
    justify-content: center;
    .itemCard {
      width: 220px;
      height: 300px;
      border: 1px solid $main_color_l_op;
      background-color: #fff;
      border-radius: 6px;
      overflow: hidden;
      .item {
        width: 220px;
        height: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
      }
      .itemImgBox {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;

        .itemImg {
          width: 80px;
          height: 110px;
          transform: scale(1);
          transition: all 0.4s ease-out;
          -webkit-user-drag: none;

          &:hover {
            transform: scale(1.1);
            transition: all 0.4s ease-out;
            -webkit-user-drag: none;
          }
        }
      }
      .itemDescript {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        background-color: $main_color_l_op;
        width: 300px;
        height: 222px;
        .itemTitle,
        .itemPrice {
          color: $main_color_n_01;
          display: flex;
          justify-content: start;
          align-items: start;
          width: 180px;
          font-size: 12px;
          font-weight: 600;
        }
        .itemTitle {
          align-items: center;
        }
      }
    }
  }
}

@media screen and (max-width: 630px) {
  .categoryContainer {
    .itemContainer {
      flex-wrap: wrap;
      width: 300px;
      height: 1400px;
      display: flex;
    }
  }
}
@media screen and (min-width: 631px) and (max-width: 1080px) {
  .categoryContainer {
    .itemContainer {
      flex-wrap: wrap;
      width: 600px;
      height: 700px;
      display: flex;
    }
  }
}
