@import "../variable.scss";

.sider {
  position: relative;
  .side-menu {
    position: relative;
    // border: 1px solid red;
    width: 230px;
    height: 100vh;
    background-color: #62ebb9;
    z-index: 5;
    top: 0;
    left: 0;

    .menu {
      display: flex;
      flex-direction: column;
      // gap: 10px;
      .header-item {
        margin: 30px 10px 0 30px;
        font-size: 13px;
        text-decoration: none;
        color: $font_color_l_01;
        font-weight: 400;
      }
    }
  }
}
