@import "../variable.scss";

.sider {
  .side-menu {
    // border: 1px solid red;
    width: 230px;
    height: 100vh;
    background-color: #fff;
    z-index: 3;

    .menu {
      display: flex;
      flex-direction: column;
      // gap: 10px;
      .header-item {
        margin: 30px 10px 0 30px;
        font-size: 13px;
        text-decoration: none;
        color: $font_color_l_01;
        font-weight: 400;
      }
    }
  }
}
