@import "../variable.scss";

.headBox {
  height: 65px;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  height: 70vh;
}
.info-box {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
}
.item-Img {
  // border: 1px solid blue;
  // width: 90%;
  height: 200px;
  padding: 10px;
}
.itemDescription {
  // border: 1px solid green;
  height: 200px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  gap: 10px;
}
.title {
  font-size: 15px;
  font-weight: 600;
}
.star-rating {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.price {
  font-size: 24px;
  font-weight: 400;
}
.btn-box {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 630px) {
  .info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 30px;
  }
}
@media screen and (min-width: 631px) and (max-width: 1080px) {
}
